<%- include('../partials/header', { title, appName }) %>

<div class="admin-shell" id="adminShell">
	<%- include('./partials/sidebar', { appName, page }) %>

	<section class="admin-content">
		<div class="wa-chat-app">
			<%- include('./partials/contact-list', { contacts, selectedContact }) %>
			<%- include('./partials/chat-panel', { selectedContact }) %>
		</div>
	</section>
</div>

<script src="/js/dashboard.js"></script>

<%- include('../partials/footer') %>